# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /
AddType video/mp4 .mp4 .m4v
AddType video/ogg .ogv
AddType video/webm .webm
AddType text/cache-manifest .manifest
